table {
  border-collapse: collapse;
  color: white;
  width: 100%;
}

// Table styles
table {
  margin: 20px 0;
  background: $light_secondary_color;
  font-weight: bold;
  color: $dark_color;


  &:first-of-type {
    margin-top: 0;
  }

  th {
    background-color: $dark_color;
    color: $secondary_color;
    padding: 10px;
  }

  tr:nth-last-of-type(even) {
    background-color: #ccc;
  }

  tr:hover {
    background-color: $light_complement;
  }

  td {
    text-transform: uppercase;
    padding: 10px;
  }
}
