<div class="wrapper">
  <p class="error">{{errors | json}}</p>

  <form [formGroup]="loginForm" class="login" (ngSubmit)="submitForm()">
    <fieldset>
      <legend>Login with your email and password</legend>

      <div class="error">{{ errors }}</div>
      
      <div class="fields">
        <div class="field">
          <label for="email">Username</label>
          <input type="email" name="email" id="email" formControlName="email" />
        </div>
        <div class="field">
          <label for="password">Password</label>
          <input type="password" name="password" id="password" formControlName="password" />
        </div>
      </div>
      <input type="submit" name="submit" value="Login to Continue" />
    </fieldset>
  </form>
</div>
