<div class="columns">
  <ul class="column sidenav">
    <li>
      <a [routerLink]="['elections']" routerLinkActive="active">Elections</a>
    </li>
    <li>
      <a [routerLink]="['positions']" routerLinkActive="active">Positions</a>
    </li>
    <li>
      <a [routerLink]="['candidates']" routerLinkActive="active">Candidates</a>
    </li>
    <li>
      <a [routerLink]="['voters']" routerLinkActive="active">Voter Register</a>
    </li>
  </ul>
  <div class="column col-3">
    <router-outlet></router-outlet>
  </div>
</div>

