

<div class="columns" >
  <div class="column col-2">
    <div class="hint" style="color: white;text-align: center;" *ngIf="!(electionService.election | async)">
      <p>Choose an election to see the positoins for that election!</p>
    </div>
    <table border="1" cellspacing="10" cellpadding="5" *ngIf="!(electionService.election | async)">
      <thead>
        <tr>
          <th>Election</th>
          <th>School</th>
          <th>Set Current</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let election of elections; let i = index">
          <td align="center">{{ election.title }}</td>
          <td align="center">{{ election.school }}</td>
          <td align="center">
            <button type="button" (click)="useElection(election)">
              Use Election
            </button>
          </td>
        </tr>
      </tbody>
    </table>
    <table border="1" cellspacing="10" cellpadding="5" *ngIf="(electionService.election | async)">
      <thead>
        <tr>
          <th>Title of Position</th>
          <th>Vote Cast Type</th>
          <th></th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="
              let position of (electionService.election | async)?.positions;
              let i = index
            ">
          <td class="spread" align="center">
            {{ position.title }}
          </td>
          <td align="center">{{ position.cast_type }}</td>
          <td align="center"><button type="button" (click)="editPositon(position._id)">Edit</button></td>
        </tr>
      </tbody>
    </table>
    <button type="button" (click)="isEdit = false">Add New Position</button>
  </div>
  <div class="column col-1">
    <form [formGroup]="positionForm" (ngSubmit)="submitForm()">
      <fieldset>
        <legend *ngIf="isEdit === false">Add New Position</legend>
        <legend *ngIf="isEdit === true">Update Position</legend>
        <div class="fields">
          <div class="field">
            <label for="election">Election</label>
            <select name="election" id="election" formControlName="election">
              <option value="">Select Election</option>
              <option *ngFor="let elec of elections" [value]="elec._id" [selected]="elec._id === (electionService.election | async)?._id">{{
                  elec.title
                }}</option>
            </select>
          </div>
          <div class="field">
            <label for="title">Position's Title</label>
            <input type="text" name="title" id="title" placeholder="Enter title" formControlName="title" />
          </div>
          <div class="field">
            <label for="cast_type">Vote Cast Type</label>
            <select name="cast_type" id="cast_type" formControlName="cast_type">
              <option value="">Select Type</option>
              <option value="Thumbs">Thumbs</option>
              <option value="Yes/No">Yes/No</option>
            </select>
          </div>
        </div>
        <input type="submit" [value]="isEdit === false ? 'Save Position' : 'Update Position'" name="submit"
          [disabled]="!positionForm.valid" />
      </fieldset>
    </form>
  </div>
</div>
