<!-- Positions -->
<div class="wrapper">
  <h4 class="sub_header">Positions</h4>
  <div class="columns">
    <div class="column col-1">
      <table border="1" cellspacing="10" cellpadding="5">
        <thead>
          <tr>
            <th>Title of Position</th>
            <th>Vote Cast Type</th>
          </tr>
        </thead>
        <tbody>
          <tr
            *ngFor="
              let position of (positionService.$positions | async)?.data;
              let i = index
            "
          >
            <td class="spread">
              <span> {{ position.title }}</span>
              <a (click)="editPositon(position._id)">Edit</a>
            </td>
            <td>{{ position.cast_type }}</td>
          </tr>
        </tbody>
      </table>
      <button type="button" (click)="isEdit = false">Add New Position</button>
    </div>
    <div class="column col-1">
      <form [formGroup]="positionForm" (ngSubmit)="submitForm()">
        <fieldset>
          <legend *ngIf="isEdit === false">Add New Position</legend>
          <legend *ngIf="isEdit === true">Update Position</legend>
          <div class="fields">
            <div class="field">
              <label for="election">Election</label>
              <select name="election" id="election" formControlName="election">
                <option value="">Select Election</option>
                <option *ngFor="let elec of elections" [value]="elec._id">{{
                  elec.title
                }}</option>
              </select>
            </div>
            <div class="field">
              <label for="title">Position's Title</label>
              <input
                type="text"
                name="title"
                id="title"
                placeholder="Enter title"
                formControlName="title"
              />
            </div>
            {{ title.errors | json }}
            <div class="field">
              <label for="cast_type">Vote Cast Type</label>
              <select
                name="cast_type"
                id="cast_type"
                formControlName="cast_type"
              >
                <option value="">Select Type</option>
                <option value="Thumbs">Thumbs</option>
                <option value="Yes/No">Yes/No</option>
              </select>
            </div>
          </div>
          <input
            type="submit"
            [value]="isEdit === false ? 'Save Position' : 'Update Position'"
            name="submit"
            [disabled]="!positionForm.valid"
          />
        </fieldset>
      </form>
    </div>
  </div>
</div>
